body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.solutions {
  background-color: #2e2f42;
}
.main-head {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  color: white;
}

.order-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
}
.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.black-text {
  color: #2e2f42;
}

.navi-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.navi-list:hover,
.navi-list:focus {
  color: #404bbf;
}

.contact-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
}

.contact-info a:hover,
.contact-info a:focus {
  color: #404bbf;
}

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.cloud-text {
  color: #f4f4fd;
}
.team {
  background-color: #f4f4fd;
}

.team-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.head-style {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.para-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}

.foot-para {
  line-height: 1.5;
  --main-color: #f4f4fd;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}
.address a:hover,
.address a:focus {
  color: #404bbf;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.li-style {
  background-color: #ffffff;
}
